{{ define "nav_tab" }}
<div class="nav-content">
    <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#attention">注意</a></li>
        <li class="tab"><a href="#log">动态</a></li>
        <li class="tab"><a href="#client">客户端&使用方法</a></li>
        <li class="tab"><a class="active" href="#server">配置信息</a></li>
    </ul>
</div>
{{end}}