{{ define "verification_pending" }}
    <div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
        <div class="valign" style="width:100%;">
            <div class="container">
                <div class="row">
                    <div class="col card s12 l6 offset-l3">
                        <div class="card-content">
                            <span id="title" class="card-title">验证电子邮箱地址</span>
                            <p>请使用注册邮箱 <strong>{{.email}}</strong> 以 <strong>[auth]uid:{{.uid}}</strong>为标题发送任意内容邮件至auth@example.com进行验证。</em></p>
                        </div>
                        <div class="card-action right-align">
                            <button class="btn waves-effect waves-light light-blue lighten-2" name="check" onclick="check_verif()">检测验证状态<i class="material-icons right">refresh</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div>
{{end}}

{{ define "authorization_pending" }}
<div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
        <div class="valign" style="width:100%;">
            <div class="container">
                <div class="row">
                    <div class="col card s12 l6 offset-l3">
                        <div class="card-content">
                            <span id="title" class="card-title">等待授权</span>
                            <p>请联系管理员对帐号进行授权。</em></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div>
{{end}}